<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Page Two</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-searchbar placeholder="Cerca Prodotto"
                   [(ngModel)]="queryText"
                   (ionInput)="updateProducts()"
                   (focusout)="stopSpinner()"
                   (keyup)="startSpinner()">

    </ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content padding class="ion-content-backColor">

  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-row>
    <ion-col width-50>
        <button ion-button full icon-left color="danger" (click)="delete()">
          <ion-icon name="trash"></ion-icon> Delete</button>
    </ion-col>
    <ion-col width-50>
        <button ion-button icon-left full color="secondary" (click)="add('peter', 'eskandar')">
          <ion-icon name="person-add"></ion-icon> Add</button>
    </ion-col>
  </ion-row>

  <ion-list-header *ngIf="productList" class="ion-list-backColor">
    Product List
  </ion-list-header>
  <ion-list [virtualScroll]="productList" *ngIf="productList" [headerFn]="getHeader">

    <ion-item-divider class="ion-item-divider" *virtualHeader="let header">
      {{header}}
    </ion-item-divider>

    <ion-item-sliding *virtualItem="let product; let i = index" class="ion-list-backColor">

        <ion-item class="ion-list-backColor" (click)="getProductDetails($event, product)">
            <text-img [text]="product.description" item-left></text-img>  {{product.description}}
            <p style="color: white">Prezzo : {{product.price}}</p>
        </ion-item>

        <ion-item-options>
            <button ion-button color="danger" (click)="deleteProduct($event, product, i)"><ion-icon name="trash"></ion-icon> Delete</button>
        </ion-item-options>

    </ion-item-sliding>
  </ion-list>

</ion-content>
